/NetBeans/Projetos/Calculadora/nbproject/private/
/NetBeans/Projetos/Calculadora/build/
/NetBeans/Projetos/Conversor/nbproject/private/
/NetBeans/Projetos/naoEntendi/nbproject/private/
/NetBeans/Projetos/naoEntendi/build/
